
body{
    padding:0;
    display:flex;
    align-content:center;
    flex-direction: column;
    scroll-snap-type: y proximity;
    overflow: scroll;
    
}
section{
    scroll-snap-align: start end;
    width:100vw;
    height:105vh;
}
.pag1{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile{
    height:250px;
    width:250px;

}
.pag1 h1{
    margin-top:120px;
}

.pag{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


.bloco{
    display:flex;
    flex-direction: row;
    align-content: center;
    margin-right:50px;
}
.bloco div{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top:50px;
}
.bloco div p{
    margin-bottom:10px;
}
.bloco ul li{
    display: inline-flex;
}
.pag h2{
    margin-top:50px;
}
.texto{
    width:500px;
    margin-top:70px;
    text-align: center;
}

.texto2{
    margin-top:80px;
    width:500px;
    text-align: center;
}


.pag3 ul li{
    padding-left:100px;
    padding-right: 100px;
}
.pag3 .bloco div{
    display:block;
}
.pag3 .bloco{
    margin-right:0;
}


.pag4 img{
    margin-top:90px;
    
}

.texto3{
    margin-top:70px;
    margin-right:25px;
}

.foot{
    height:80vh;
    width:100vw;
}

.foot h2{
    margin-top:40px;
}


.foot .bloco{
    margin-top:100px;
    margin-right:0;
}
.foot .bloco img{
    height:170px;
    width:170px;
}

.foot .bloco ul li{
    padding-right:80px;
    padding-left:80px;
}

.texto4{
 margin-top:70px;
 margin-right:25px;   
}

@media screen and (min-width:781px) and (max-width:1023px){

    .bloco{
        margin:0;
    }
    .bloco img{
        height:170px;
      
    }
    
    .bloco ul li{
        display:flex;  
    }
    
    section{
        height:120vh;
        text-align: center;
    }
    .pag h2{
        font-size:50px;
    }
    .pag p{
        display:none;
    }

    .pag3 .bloco img{
        height:190px;
        width:auto;
    }
    .pag3 .bloco li{
        padding:0 0 0;
    }
    .pag3 .bloco{
        margin-top:50px;
    }
    #node{
        padding-left:20px;
    }
   

    .pag4 .bloco img{
        height:250px;
        width:auto;
    }
    .pag4 .bloco{
        margin-top:55px;
    }
   
    .foot{
        height:100vh;
    }

    .foot .bloco img{
        margin-top:20px;
        height:120px;
        width:auto;
    }
    
}

@media screen and (min-width:100px) and (max-width:780px){
    .bloco img{
        height:180px;
    }
    .bloco ul li{
        width:200px;
        margin-right:25px;   
    }

    .pag3 .bloco ul li{
        width:auto;
        padding:0;  
    }
    .pag3 .bloco img{
        height:200px;
        width:200px;
        margin-left:20px;

    }
    .pag4 .bloco img{
        height:250px;
    }
    .foot .bloco img{
        height:150px;
        width:auto;
    }
    .foot .bloco ul li{
        width:auto;
        padding-right:0;
    }
    
}


